body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.main {
    margin-top: 70px;
}

/* Styling the map container */
.map-container, #map {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px);
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.map-container p {
    color: #333333;
    font-size: 18px;
}

.map-container .container1,
.mapForm {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.reportContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    gap: 40px;
}

@media (max-width: 768px) {
    .mapForm,
    .map-container .container1 {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .container {
        padding: 10px;
        width: 100%;
    }

    .card {
        width: 90%;
        padding: 10px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .form-control,
    .btn {
        font-size: 0.9em;
        padding: 8px;
        width: 100%;
        box-sizing: border-box;
    }

    .visibility-password {
        position: relative;
    }

    #visibility-icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
}

form input, form button {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 1em;
}

form input {
    border: 1px solid grey;
    border-radius: 5px;
}

form button {
    margin-top: 10px;
}

form .visibility-password input {
    padding-right: 40px; /* Add space for the visibility icon */
}

/* Footer styling */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 35px;
    background-color: #eeeeee;
    font-size: 1em;
    color: #666666;
    bottom: 3em;
}

/* Navbar */
div .text-end {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: flex-end;
}
