{% extends "login.html" %}

{% block title%}Forget Password{% endblock%}

{% block formArea%}
<div class="flex md:w-1/2 justify-center py-10 items-center bg-white">
    <form class="bg-white py-5 w-2/3" action="{{ url_for('confirm_change_password') }}" method="POST">
        <h1 class="text-gray-800 font-bold text-2xl mb-1">Change password</h1>
        <input type="hidden" name="hashed_ranger_id" value="{{ hashed_ranger_id }}">
        <p class="text-sm font-normal text-gray-600 mb-7">You'll need to verify that its you trying to change the password</p>

        {% with messages = get_flashed_messages(with_categories=True) %}
            {% for category, message in messages %}
                <div class="flash mb-3" style="text-align: center; color: '{% if category == 'success' %}'green'{% else %}'crimson'{% endif %}';">
                    {{ message }}
                </div>
            {% endfor %}
        {% endwith %}
        
        <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-5">
            <i class="fa-solid fa-lock"></i>
            <input class="pl-2 w-full outline-none border-none" type="password" name="password" id="password" placeholder="New password (alphanumeric)" maxlength="16" required/>
            <div class="ml-2 cursor-pointer" id="visibility">
                <i class="fa-regular fa-eye-slash ml-2" id="v_slash" style="display: none;"></i>
                <i class="fa-regular fa-eye" id="v_plain" style="display: block;"></i>
            </div>
        </div>
        <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
            <i class="fa-solid fa-lock"></i>
            <input class="pl-2 w-full outline-none border-none" type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm new password" maxlength="16" required/>
        </div>
        
        <button type="submit" class="block w-full bg-indigo-600 mt-4 py-2 rounded-2xl text-white font-semibold mb-4">Reset password</button>

    </form>
</div>
{% endblock%}
