<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

</head>

<body class="bg-light">
    <div class="nav">
        <div class="navbar bg-white shadow-md p-4 flex justify-between items-center">
            <div class="dropdown relative">
                <button class="btn btn-ghost btn-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"> 
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /> 
                    </svg>
                </button>
                {% include "navigation.html" %}
            </div>
            <div>
                <a class="text-xl font-bold">AI Wildlife Ranger</a>
            </div>
            <div>
                {% if session.ranger_id %}
                <h3 class="text-gray-700">Ranger {{ session.ranger_id }}</h3>
                {% endif %}
            </div>
        </div>
    </div>

    <main class="container mx-auto p-6">
        <div class="flex flex-col md:flex-row items-center gap-6 mt-4">
            <img src="{{ url_for('static', filename='images/startHWC.webp')}}" alt="Human Wildlife Conflict" class="w-full md:w-1/2 rounded-lg">
            <div>
                <h2 class="text-2xl font-bold">Mission</h2>
                <p>To foster harmony between human communities and wildlife by leveraging innovative technology, research, and community engagement.</p>
                <h2 class="text-2xl font-bold mt-4">Vision</h2>
                <p>Creating a sustainable environment where humans and wildlife thrive together in harmony, free from conflict and mutual threats.</p>
            </div>
        </div>
        
        <hr class="my-6">
        
        <h2 class="text-3xl font-bold text-center mb-6">The Crises</h2>
        
        <div class="mt-6 space-y-6">
            <div class="flex flex-col md:flex-row gap-6 items-center">
                <img src="{{ url_for('static', filename='images/74q26r70s2_Elephant_herd_crop_raid.jpg') }}" alt="Elephant Raid" class="w-100% md:w-1/2 rounded-lg">
                <div>
                    <h3 class="text-xl font-bold">Raid on Crop Farms</h3>
                    <p>Wild animals, particularly elephants, often raid farms in search of food, leading to massive crop destruction. This not only threatens food security but also results in significant financial losses for farmers who rely on agriculture for their livelihood.</p>
                </div>
            </div>
            
            <div class="flex flex-col md:flex-row gap-6 items-center">
                <img src="{{ url_for('static', filename='images/LION-DEAD-MOHAWK.jpg') }}" alt="Dead Lion" class="w-100% md:w-1/2 rounded-lg">
                <div>
                    <h3 class="text-xl font-bold">Loss of an Endangered Species</h3>
                    <p>The increasing conflict between humans and wildlife has also led to the tragic loss of endangered species. 
                        Lions, among other threatened animals, often fall victim to retaliatory killings or habitat destruction. 
                        These contribute to the decline of already vulnerable populations, pushing some species closer to extinction.</p>
                </div>
            </div>
            
            <div class="flex flex-col md:flex-row gap-6 items-center">
                <img src="{{ url_for('static', filename='images/damaged_house.jpg' )}}" alt="Damaged House" class="w-full md:w-1/2 rounded-lg">
                <div>
                    <h3 class="text-xl font-bold">Destruction of Property</h3>
                    <p>Large animals like elephants often trample homes and destroy 
                        infrastructure, displacing families in search of food and causing significant economic and emotional distress in affected communities.</p>
                </div>
            </div>
        </div>
        
        <hr class="my-6">
        
        <h2 class="text-3xl font-bold text-center mb-6">Our Solution</h2>
        
        <div class="flex flex-col md:flex-row gap-6 items-center">
            <img src="{{ url_for('static', filename='images/map_with_PL&CL.JPG' )}}" alt="Damaged House" class="w-full md:w-1/2 rounded-lg">
            <div>
                <h3 class="text-xl font-bold">Destruction of Property</h3>
                <p>Large animals like elephants often trample homes and destroy 
                    infrastructure, displacing families in search of food and causing significant economic and emotional distress in affected communities.</p>
            </div>
        </div>
    </main>

    <footer class="footer sm:footer-horizontal bg-gray-100 text-neutral-content p-10 mt-10" style="color: black;">
        <aside>
            <i class="fa-solid fa-hashtag" style="font-size: 60px;"></i>
          <p>
            Tafiti Softwares Ltd.
            <br />
            Providing reliable tech solutions
          </p>
        </aside>
        <nav>
          <h6 class="footer-title">Socials</h6>
          <div class="grid grid-flow-col gap-4">
            <i class="fa-brands fa-facebook" style="font-size: 24px;"></i>
            <i class="fa-brands fa-x-twitter" style="font-size: 24px;"></i>
            <i class="fa-brands fa-instagram" style="font-size: 24px;"></i>
          </div>
        </nav>
        <nav>
            <h6 class="footer-title">Contact</h6>
            <p>Reach us via call on  -  0712345678</p>
            <h5>OR</h5>
            <p>Email via - <a href="" style="color: blue;">tafitisoftwares@gmail.com</a></p>
        </nav>
      </footer>
    
</body>
</html>