<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

</head>

<body>
    <div class="nav">
        <div class="navbar bg-base-100 shadow-sm">
            <div class="navbar-start">
                <div class="dropdown">
                    <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> 
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /> 
                        </svg>
                    </div>
                    {% include "navigation.html" %}
                </div>
            </div>
            <div class="navbar-center">
                <a class="btn btn-ghost text-xl">HWC</a>
            </div>
        </div>
    </div>

    <div class="main p-3">
        <div id="start_img" class="p-5">
            <img src="{{ url_for('static', filename='images/startHWC.webp')}}" alt="human wildlife conflict" style="justify-items: center;">
            
            <h5 style="font-size: 2em;">Mission</h5>
            <p>To foster harmony between human communities and wildlife by leveraging innovative technology, research, and community engagement.</p>

            <h5 style="font-size: 2em;">Vision</h5>
            <p>Creating a sustainable environment where humans and wildlife thrive together in harmony, free from conflict and mutual threats.</p>
        </div>
        <hr>
        <div>
            <p style="font-size: 3em;">The Crises</p>
        </div>
        <div class="p-5">
            <p style="font-size: 1.5em;">Raid on Crop Farms</p>
            <img src="{{ url_for('static', filename='images/74q26r70s2_Elephant_herd_crop_raid.jpg') }}" alt="Elephant_herd_crop_raid">
            <p class="mt-3" style="text-align: center;">
                Wild animals, particularly elephants, often raid farms in search of food, leading to massive crop destruction. 
                This not only threatens food security but also results in significant financial losses for farmers who rely on 
                agriculture for their livelihood.
            </p>
        </div>
        

        <div class="p-5">
            <p style="font-size: 1.5em;">Loss of an Endangered Species</p>
            <img src="{{ url_for('static', filename='images/LION-DEAD-MOHAWK.jpg') }}" alt="A dead lion">
            <p class="mt-3" style="text-align: center;">
                The increasing conflict between humans and wildlife has also led to the tragic loss of endangered species. 
                Lions, among other threatened animals, often fall victim to retaliatory killings or habitat destruction. 
                These contribute to the decline of already vulnerable populations, pushing some species closer to extinction.
            </p>
        </div>

        <div class="p-5">
            <p style="font-size: 1.5em;">Destruction of Property</p>
            <img src="{{ url_for('static', filename='images/damaged_house.jpeg' )}}" alt="damaged traditional house">
            <p class="mt-3" style="text-align: center;">
                Large animals like elephants often trample homes and destroy 
                infrastructure, displacing families in search of food and causing significant economic and emotional distress in affected communities.
            </p>
        </div>
        <hr>
        <div>
            <p style="font-size: 3em;">Our Solution</p>
        </div>
        <div class="p-5">
            <img src="{{ url_for('static', filename='images/map_with_PL&CL.JPG' )}}" alt="predicted and actual location of lion shown on map">
            <p class="mt-3" style="text-align: center;">
                We have a map showing the current location of the Wildlife represented by marker (CL) and the predicted location after 2hrs represented by marker (PL)
            </p>
        </div>
    </div>

    <footer class="footer">
        <span>CC</span>
        <span>Contact</span>
    </footer>
    
</body>
</html>