<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}Wildlife Conservation{% endblock%}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daisyui@5" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/feedback.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/script.js') }}"></script> 

    {% block script %} {% endblock %}
    <style>
        .material-symbols-outlined {
          font-variation-settings:
          'FILL' 0,
          'wght' 400,
          'GRAD' 0,
          'opsz' 24;         
        }
        .visibility-password {
            position: relative;
        }
        #visibility-icon {
            position: absolute;
            left: calc(100% - 35px);
            top: 0rem;
        }

  


    </style>
    
</head>
<body class="bg-light">
  <div class="nav">
    <div class="navbar bg-white shadow-md p-4 flex justify-between items-center">
        <div class="dropdown relative">
            <button class="btn btn-ghost btn-circle">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"> 
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /> 
                </svg>
            </button>
            {% include "navigation.html" %}
        </div>
        <div>
            <a class="text-xl font-bold">AI Wildlife Ranger</a>
        </div>
        <div>
            {% if session.ranger_id %}
            <h3 class="text-gray-700">Ranger {{ session.ranger_id }}</h3>
            {% endif %}
        </div>
    </div>
</div>
    
    {% block section %}
        <section class="main container-fluid">
            <div class="map-container">
                {% block container %}
                    <div id="map"></div>

                    
                {% endblock %}
            </div>
          </section>
          {% block formField%}

          <form method="post" style="display: flex; flex-direction: row;"> 
            <div class="mapForm p-4">
              <p>Zoom-in the map to see the Currect Location(CL) and the Predicted Location(PL) of the Lion clearly. <br>
              In the below field you can try any given real time ID within the range specified and get the predicted location interval 2 hours.</p>
                <input type="number" max="500" id="rowId" class="p-2" placeholder="Row ID (1-500)" required>
                <input type="text" placeholder="2hrs" class="p-2" readonly>
                <button id="tryThisButton" class="btn btn-primary">try this</button>
          </div>
          </form>
          {% endblock%}
      {% endblock%}
    
    {% block footer%}
    <footer class="footer sm:footer-horizontal bg-gray-100 text-neutral-content p-10 mt-10" style="color: black;">
      <aside>
          <i class="fa-solid fa-hashtag" style="font-size: 60px;"></i>
        <p>
          Tafiti Softwares Ltd.
          <br />
          Providing reliable tech solutions
        </p>
      </aside>
      <nav>
        <h6 class="footer-title">Socials</h6>
        <div class="grid grid-flow-col gap-4">
          <a href=""><i class="fa-brands fa-facebook p-2" style="font-size: 24px;"></i></a>
          <a href=""><i class="fa-brands fa-x-twitter p-2" style="font-size: 24px;"></i></a>
          <a href=""><i class="fa-brands fa-instagram p-2" style="font-size: 24px;"></i></a>
        </div>
      </nav>
      <nav>
          <h6 class="footer-title">Contact</h6>
          <p>Reach us via call on  -  0712345678</p>
          <h5>OR</h5>
          <p>Email via - <a href="mailto:tafitisoftwares@gmail.com" style="color: blue;">tafitisoftwares@gmail.com</a></p>
      </nav>
    </footer>
      {% endblock%}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- boot loader for map api -->
    <script>
        (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
          key: "{{ API_KEY }}",
          v: "weekly",
          // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
          // Add other bootstrap parameters as needed, using camel case.
        });
    </script>
    <script>
        // toggle password
        const passwordInput = document.getElementById('password');
        const visibilityIcon = document.querySelector('span#visibility-icon');


        function togglePassword() {
            
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                visibilityIcon.textContent = 'visibility_off';
            } else {
                passwordInput.type = 'password';
                visibilityIcon.textContent = 'visibility';
            }
        }   
    </script>
</body>
</html>