<!DOCTYPE html>
{% extends "index.html" %}

{% block container %}
    <div class="container d-flex justify-content-center align-items-center vh-100" style="margin-top: 70px;">
        <div class="card p-15 shadow">
            <p class="text-center" style="font-size: 2em;">Ranger Registration</p>
            {% for message in get_flashed_messages() %}
                <div class="flash" style="text-align: center; color: crimson;">{{ message }}</div>
            {% endfor %}
            <form method="post">
                <div class="mb-3">
                    <input type="text" name="rangerId" id="rangerId" minlength="5" maxlength="8" class="form-control w-100 p-4 mb-3" placeholder="Enter Ranger ID" required>
                </div>
                <div class="mb-3">
                    <input type="email" name="email" id="email" minlength="5" maxlength="50" class="form-control w-100 p-4 mb-3" placeholder="Enter Email" required>
                </div>
                <div class="mb-3">
                    <div class="visibility-password">
                        <input type="password" name="password" id="password" autocomplete="new-password" class="form-control w-100 p-4 mb-3" placeholder="Enter Password" minlength="8" maxlength="16" required>
                        <span id="visibility-icon" class="material-symbols-outlined" onclick="togglePassword()">visibility</span>
                    </div>
                </div>
                <div class="mb-3">
                    <input type="password" name="confirmPassword" id="confirmPassword" class="form-control w-100 p-4 mb-3" placeholder="Confirm Password" minlength="8" maxlength="16" required>
                </div>
                
                <button type="submit" class="btn btn-success w-100 p-6">Register</button>
                <div>
                    <p>Already have an account?<a style="color: blue;" href="{{ url_for('login') }}"> login</a></p>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block formField%}
{% endblock%}
