<!DOCTYPE html>
{% extends "index.html" %}

{% block title %}Model Report - Wildlife Conservation{% endblock %}

{% block container %}
<div class="container1 mt-4">
    <div  style="word-wrap: break-word; width: 45%; text-align: left; align-items: flex-start; padding-left: 15px;">
            <p>The model report shows the performance of the model <br> based on the prediction it made on unseen data. <br></p>
            <li>Prediction made - Total number of predictions that the model has made.</li>
            <li>Correct prediction - Number of prediction made with the least difference, that is, 400 meters from the actual location after 2 hours.</li>
            <li>Failed predictions - Number of predictions made that had much difference, that is more than 400 meters.</li>
            <li>Succes rate - is the ratio of correct predictons to the Predictions made expressed as a percentage.</li>
    </div>


    <div class="row mt-4">
        <div class="col">
            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Predictions made</th>
                        <th>Correct predictions</th>
                        <th>Failed predictions</th>
                        <th>Success Rate %</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ predictions_made }}</td>
                        <td>{{ correct_predictions }}</td>
                        <td>{{ failed_predictions }}</td>
                        <td>{{ success_rate }}%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block formField%}{% endblock%}


